{% extends "base.html" %} {% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg mx-auto flex flex-col">
  <h2 class="text-2xl font-bold text-orange-600 text-center mb-4 w-full mb-8">
    Cast Your Vote
  </h2>
  <div class="container flex w-full">
    <div
      class="w-1/2 border border-gray-200 rounded flex flex-col justify-center items-center p-8"
    >
      <form
        action="/start"
        method="get"
        class="flex flex-col justify-center items-center"
      >
        <p class="text-center w-full font-bold {% if identified == 'True' %} text-green-400 {% endif %}">
          {% if identified == 'True' %} Successfully identified {% else %}
          Identify Yourself first {% endif %}
        </p>
        <p>
          {% if identified == 'True' %}
            <b>Username:</b> {{ username }}<br>
            <b>User ID:</b> {{ userid }}
          {% else %}
            
          {% endif %}
        </p>
        <button
          class="w-fit bg-orange-600 text-white px-6 py-2 rounded-lg hover:bg-red-600 disabled:bg-gray-300 disabled:text-gray-500"
            {% if identified == 'True' %} disabled {% endif %}
        >
        {% if identified == 'True' %} Identified {% else %}
        Identify {% endif %}
        </button>

      </form>
    </div>
    <form action="/register-vote" method="POST" class="space-y-4 w-1/2">
      <input type="hidden" name="userid" id="userid" value="{{ userid }}" />
      <input type="hidden" name="username" id="username" value="{{ username }}" />
      <div class="flex flex-col flex-wrap gap-4 justify-center items-center">
        <button
          type="submit"
          name="party1"
          value="party1"
          id="party1"
          class="w-fit bg-white text-black border border-black px-6 py-2 rounded-lg hover:bg-gray-200 disabled:bg-gray-300 disabled:text-gray-500"
          {% if notVoted != 'True' %} disabled {% endif %}
        >
          Party P1
        </button>
        <button
          type="submit"
          name="party2"
          value="party2"
          id="party2"
          class="w-fit bg-white text-black border border-black px-6 py-2 rounded-lg hover:bg-gray-200 disabled:bg-gray-300 disabled:text-gray-500"
          {% if notVoted != 'True' %} disabled {% endif %}
        >
          Party P2
        </button>
        <button
          type="submit"
          name="party3"
          value="party3"
          id="party3"
          class="w-fit bg-white text-black border border-black px-6 py-2 rounded-lg hover:bg-gray-200 disabled:bg-gray-300 disabled:text-gray-500"
          {% if notVoted != 'True' %} disabled {% endif %}
        >
          Party P3
        </button>
        <button
          type="submit"
          name="party4"
          value="party4"
          id="party4"
          class="w-fit bg-white text-black border border-black px-6 py-2 rounded-lg hover:bg-gray-200 disabled:bg-gray-300 disabled:text-gray-500"
          {% if notVoted != 'True' %} disabled {% endif %}
        >
          Party P4
        </button>
      </div>
      <div class="text-center mt-4">
        <p class="text-sm text-gray-500">
          Note: Options will be enabled only you have identified yourself.
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
